@font-face {
    font-family: elegantlux;
    src: url(ElegantLux-Mager.otf);
}




body
{
	color: #1A1A1A !important;
	font-family: elegantlux !important;
	background-color: #E6E6E6 !important;
}
a,a:hover
{
	text-decoration: none !important;
}
a
{
	color: #1A1A1A !important;
}
a:hover
{
	color: #0033CC !important;

}

.navbar
{
	background-color: #B2B2B2 !important;
	opacity: 0.9;
}

.card
{
	margin: 1em 1em;
	z-index: 2;
	background-color: white;
}
.shadow
{
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.6);
}
.post-header
{
	margin-left: 1em;
}
.post-content
{
	margin: 1em 1em;
	padding: 1em 1em;
}


